<template>
<table class="cool-table">
  <thead>
  <tr>
    <td>Name</td>
    <td>Author</td>
    <td>Price</td>
<!--    <td>Photo</td> todo photo-->
  </tr>
  </thead>
  <tbody>
  <tr v-for="book in books" :key="book.id">
    <td>{{ book.name }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.price }}</td>
    <td>
      <button v-if="isAdmin" @click="deleteBook(book.id)">Delete</button>
    </td>
  </tr>
  <tr v-if="isAdmin">
    <td><input type="text" v-model="newBook.name"/></td>
    <td><input type="text" v-model="newBook.author"/></td>
    <td><input type="text" v-model="newBook.price"/></td>
  </tr>
  </tbody>
</table>
  <input v-if="isAdmin" type="button" @click="saveBook" value="Add book"/>
</template>

<script lang="ts">
import Book from "@/utils/api/books/book";
import {Role} from "@/utils/state/token";
import {deleteBookById, getAllBooks, saveBook} from "@/utils/api/books/api";
import {defineComponent} from "vue";
// import {Books} from "@/utils/api/books/book";
import UserState from "@/utils/state/userState.ts";

export default defineComponent({
  name: "Books",
  data(){
    return {
      user: UserState.getInstance(),
      newBook: {} as Book,
      books : [] as Book[]
    }
  },
  methods:{
    async deleteBook(id: string){
      await deleteBookById(id)
      this.getAll();
    },
    async saveBook(){
      await saveBook(this.newBook);
      this.getAll();
      this.newBook = {} as Book
    },
    getAll(){
      getAllBooks()
          .then(x=>this.books = x.data)
          .catch(x=>console.error(x));
    }
  },
  computed:{
    isAdmin(): boolean{
      return this.user.role == Role.admin;
    }
  },
  beforeMount() {
    this.getAll();
  }
})
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>