<template>
  <div>
    <h1>This is an login page</h1>
    <Login @callback="login"></Login>
    <router-link to="/register">Maybe register?</router-link>
  </div>
</template>
<script>
import Login from "@/components/Login";
import {login} from "@/utils/api/auth/login";
import constants from "@/utils/constants/constants";
import UserState from "@/utils/state/userState";
import router from "@/router";
export default {
  components: {Login},
  methods:{
    async login(event){
      const response = await login(event);
      console.log(response.status)
      if (response.status !== 200){
        router.push('/register');
      }
      let token = response.data;
      console.log(token);
      localStorage.setItem(constants.tokenKey, token);
      UserState.setup()
      window.location.reload();
      router.push('/about');
    }
  }
}
</script>