<template>
  <h1>Here you can register</h1>
  <Login @callback="register"></Login>
</template>

<script>
import Login from "@/components/Login.vue";
import {register} from "@/utils/api/auth/register";
import constants from "@/utils/constants/constants";
import router from "@/router";
export default {
  name: "Register",
  components: {Login},
  methods:{
    async register(loginForm){
      const response = await register(loginForm);
      console.log(response)
      if (response.status === 200){
        await router.push('/login');
      }
    }
  }
}
</script>

<style scoped>

</style>