<template>
  <div id="nav">
    <div class="left">
      <router-link to="/about">About</router-link>
    </div>
    <div class="center">
      <router-link to="/books" v-if="user.isInited">Books</router-link>
    </div>
    <div class="right">
      <router-link to="/login" v-show="!user.isInited">Login</router-link>
      <router-link to="/register" v-show="!user.isInited">Register</router-link>
      <button v-show="user.isInited" @click="logout()">LogOut</button>
    </div>
  </div>
  <router-view />
</template>

<script>
import UserState from "@/utils/state/userState";
import router from "@/router";
import {ref} from "vue";
export default {
  components: {},
  data(){
    return{
      user: UserState.getInstance()
    }
  },
  methods:{
    logout(){
      localStorage.clear()
      router.push('/login')
      window.location.reload()
    }
  }
  
}
</script>

<style lang="less">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  
  padding: 30px;
  margin: 10px;
  display: flex;
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
  
}

div > a{
  margin: 10px;
}

.left{
  flex-grow: 1;
}
.center{
  flex-grow: 8;
}
.right{
  flex-grow: 1;
}
</style>

