<template>
  <div>
    <form @submit.prevent="emit">
      <div><label> User Name : <input type="text" name="username" v-model="loginForm.username"/> </label></div>
      <div><label> Password: <input type="text" name="password" v-model="loginForm.password"/> </label></div>
      <div><input type="submit" value="Sign In"/></div>
    </form>
  </div>
</template>

<script>

import {login} from "@/utils/api/auth/login";
import constants from "@/utils/constants/constants";

export default {
  name: "Login",
  emits: ['callback'],
  data(){
    return{
      loginForm: {
        username:"",
        password:""
      }
    }
  },
  methods:{
    emit(){
      this.$emit("callback", this.loginForm);  
    }
  }
}
</script>

<style scoped>

</style>